<div class = "container">
	<div class = "row">
		<div class="col-xs-6">
			<h3>Log In</h3>
			<form id = "new_user" ng-submit="ctrl.login()">
				<p>
					 <!-- // takes information from the html and attaches it to the vm.user = {} object created in signin.js controller.   -->
					<label for="username">Username</label><br>
					<input class="color-input" type="text" name="username" ng-model="ctrl.user.username" required>
				</p>
				<p>
					<!-- // takes information from the html and attaches it to the vm.user = {} object created in signin.js controller.  -->
					<label for="password">Password</label><br>
					<input class="color-input" type="text" name="passsword" ng-model="ctrl.user.password" required>					
				</p>
				<input type="submit" id="login" name="commit" value="Login" class="btn btn-info">
				<span class="login">
					Don't have an account?
					<a ui-sref="signup">Sign Up.</a>
				</span>
			</form>
		</div>
	</div>
</div>
